node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.next/
out/
build/
dist/

.env*.local
.env

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

logs
*.log

pids
*.pid
*.seed

coverage/
*.lcov


jspm_packages/

.npm

.node_repl_history

*.tgz

.yarn-integrity

.env
.env.test

.cache
.parcel-cache

.next

.nuxt

.vuepress/dist

.serverless

.fusebox/

.dynamodb/

.git
.gitignore

Dockerfile*
docker-compose*
.dockerignore

*.md
!README.md

.github/